body {
  margin: 0;
  overflow: hidden;
  background: #00031c; /* dark blue background */
  background-image: url('https://www.transparenttextures.com/patterns/black-paper.png');
}

#bubble-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bubble {
  position: absolute;
  background: rgba(202, 45, 153, 0.558); /* semi-transparent red tone */
  border-radius: 50%;
  pointer-events: auto; /* allow hover to pause movement */

  transition: transform 0.2s ease; /* smooth transform when paused */
}
